/*Définition du theme generale de la page web*/
:root {
  --main-theme: lightgrey;
  --second-theme: dimgray;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 10px;
}

/*Nav section CSS*/
/*overrides the right part of nav bar*/
nav {
  background-color: var(--second-theme);
}
nav ul li {
  list-style-type: none;
  padding: 8px 15px;
  background-color: var(--second-theme);
}
nav ul {
  display: flex;
}
.active {
  background-color: var(--main-theme);
}

/*carrousel Css*/
.carousel {
  height: 200px;
  background-color: var(--main-theme);
}

/*Fellows CSS*/
section h2 {
  text-align: center;
  margin: 25px;
  color: var(--second-theme);
  font-weight: bold;
}
section span {
  font-size: medium;
}

/*article CSS*/
.article-img {
  display: flex;
  padding-bottom: 100px;
  flex-direction: row;
  justify-content: space-between;
}
.left-article {
  margin-right: 15px;
}
.article-box {
  height: 300px;
  width: 100%;
  background-color: var(--main-theme);
}
.article-bottom {
  background-color: red;
  margin-left: 15px;
}

/*Contatc Css*/
.line-contact {
  border: 1px solid var(--second-theme);
  margin-bottom: 15px;
}
form h2 {
  color: var(--second-theme);
  font-weight: bold;
}
.contact-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input,
textarea {
  margin: 5px 0px;
  width: 90%;
}
textarea {
  padding-bottom: 90px;
}
